
@{
    ViewBag.Title = "Reciepts";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<script>

    $(document).ready(function(){
        var CurrentPageNumber=1;
        Lazyload(CurrentPageNumber);

        $(window).scroll(function(){// אם הגלילה הגיעה לתחתית הדף טען עוד נתונים
            if($(window).scrollTop()==$(document).height()- $(window).height())
                CurrentPageNumber+=1;
                Lazyload(CurrentPageNumber);
            })
        function Lazyload(currentPage) {
            $.ajax({
                url:@Url.Action("GetTheData", "Reciepts"),
                method:'POST',
                data:{PageNumber:currentPage,PageSize:5},
                dataType:'json',
                success:function(result){
                    var table=$("#thedatatab");
                    $(result).each(function(index,receipt){
                        table.append('<tr><td>'+receipt.receiptDate+'</td><td>'+receipt.receiptNum+'</td><td>'+receipt.FinalSum+'</td></tr>');
                    })
                }
            })
        }
    })

</script>

<input class="btn btn-secondary" type="button" value="Show TheResults" id="theBtnSearch" />



<div class="DataTableClass" id="TheHeaderStyle" style="width: 100%">
    <table id="thedatatab'" class="display table table-striped table-bordered">
        <thead>
            <tr>
                <th>תאריך</th>
                <th>מספר קבלה</th>
                <th>סכום</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>





















<h1>קבלות</h1>
<table id="tbl" class="table table-hover" style="width:70%">
    <thead>
        <tr>
            <td>תאריך</td>
            <td>מספר קבלה</td>
            <td>סכום</td>
            <td></td>

        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

