
@*Avishag*@

@{
    ViewBag.Title = "UpdateMedicineVitamin";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>UpdateMedicineVitamin</h2>
<body dir="rtl">
    <center>
        <div style="margin-top:300px">
            <h2>ערוך תרופות ותוספים</h2>
            <table>
                <tr>
                    <td><input id="radio" type="radio" />תרופה</td>
                    <td>
                        <input id="Text1" type="text" />
                        <select id="select1">
                            <option selected="selected"></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><input id="radio" type="radio" />תוסף</td>
                    <td>
                        <input id="Text1" type="text" />
                        <select id="select1">
                            <option selected="selected"></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>פעיל</td>
                    <td><input id="Checkbox1" type="checkbox" /></td>
                </tr>

                <tr>
                    <td>צורת מתן</td>
                    <td>
                        <select id="select1">
                            <option selected="selected"></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>מינון</td>
                    <td><input id="Text1" type="text" /></td>
                </tr>

                <tr>
                    <td>ימים</td>
                    <td><input id="Text1" type="text" /></td>
                </tr>

                <tr>
                    <td>אופן מתן</td>
                    <td><input id="Text1" type="text" /></td>
                </tr>

                <tr>
                    <td>הערות</td>
                    <td><input id="Text1" type="text" /></td>
                </tr>
            </table>
        </div>

        <div>
            <input id="Submit1" type="submit" value="הדפסת מרשם" />
        </div>

        <div>
            <input id="Submit1" type="submit" value="עדכן" />
        </div>

    </center>
</body>
