@model Customers
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using DataAccessLayer;
@using BussinesLayer;
@using BussinessLayer;

<style>
    footer {
        position: absolute !important;
    }
    .myButton {
        background-color: #dcdcdc;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #777777;
        font-family: Arial;
        font-size: 17px;
        font-weight: bold;
        padding: 6px 14px;
        text-decoration: none;
        text-shadow: 0px 0px 0px #ffffff;
    }

        .myButton:hover {
            background-color: transparent;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
</style>
<script>
     $(document).ready(function () {

        function addErrorMessage(data) {
            var txt = "<div class='alert alert-danger'  role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + data + "</div>";
            $("#idp1").html("")
            $("#idp1").append(txt)

            window.setTimeout(function () {
                $(".alert").fadeTo(0, 600).slideUp(400, function () {
                    $(this).remove();
                });
            }, 3000);
        }

        $("#Text1").on("blur", function () {

            $.ajax({
                type: 'get',
                url: "@Url.Action("checkCustomerID")",
                data: { ID: $("#Text1").val() },
                success: function (data) {
                    if (data != "") {
                        addErrorMessage(data);
                    }
                },
                error: function () { }
            })
        })
    })
</script>


    <center>
        <form id="form1" action=@Url.Action("AddCustomer","AddCustomer") method="post">
            <div dir="rtl"  class="container, form-horizontal">
                <fieldset style="margin-top:0px; height:390px; width:500px; box-shadow:150px;">
                    <div style="margin-top:0px">
                        <h1 style="font-family:Arial;font-size:50px">הוספת לקוחה</h1>

                        <div style="margin-right:0%; margin-left:55px">
                            <label for="Text1" style="font-size:25px;font-family:Arial">מספר זהות:</label>
                            <input id="Text1" type="text" maxlength="9" pattern="[0-9]{9,9}" title="נא הקש ת.ז בעלת 9 ספרות" name="Id" placeholder="הכנס/י תעודת זהות" required />
                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                        </div>

                        <div style="margin-right:0%; margin-left:80px">
                            <label for="Text2" style="font-size:25px;font-family:Arial">שם פרטי:</label>
                            <input id="Text2" type="text" maxlength="20" name="FirstName" pattern="[א-ת]{1,20}" title="אותיות בעברית בלבד" placeholder="הכנס/י שם פרטי" required />
                        </div>
                        <div style="margin-right:0%; margin-left:50px">
                            <label for="Text3" style="font-size:25px;font-family:Arial">שם משפחה:</label>
                            <input id="Text3" type="text" name="LastName" maxlength="20"pattern="[א-ת]{1,20}" title="אותיות בעברית בלבד" placeholder="הכנס/י שם משפחה" required />
                        </div>
                        <div style="margin-right:0%; margin-left:110px">
                            <label for="Text4" style="font-size:25px;font-family:Arial">טלפון:</label>
                            <input id="Text4" type="text" name="Phone" maxlength="15" pattern="[0-9]{7,15}" title="נא הקש/י מספר בעל 7 ספרות ומעלה" placeholder="הכנס/י מספר טלפון" required />
                        </div>
                        <div style="margin-right:0%; margin-left:60px">
                            <label for="Text5" style="font-size:25px;font-family:Arial">טלפון נוסף:</label>
                            <input id="Text5" type="text" name="Phone2" maxlength="15" pattern="[0-9]{7,15}" title="נא הקש/י מספר בעל 7 ספרות ומעלה" placeholder="הכנס/י מספר טלפון"/>
                        </div>

                        <div style="margin-right:0%; margin-left:113px">
                            <label for="Text6" style="font-size:25px;font-family:Arial">רחוב:</label>
                            <input id="Text6" type="text" name="Street" maxlength="40" pattern="[א-ת0-9]+[א-ת0-9 /\]+" title="אותיות בעברית ומספרים בלבד" placeholder="הכנס/י רחוב" required />
                        </div>
                        <div style="margin-right:0%; margin-left:125px">
                            <label for="Text7" style="font-size:25px;font-family:Arial">עיר:</label>
                            <input id="Text7" type="text" name="City" maxlength="20" pattern="[א-ת]{1,20}" title="אותיות בעברית בלבד" placeholder="הכנס/י עיר" required />
                        </div>
                        
                        <div style="margin-right:0%; margin-left:280px">
                            <br /> <input class="btnOkAdd" id="Submit1" type="submit" value="הוסף" />
                        </div>
                    </div>
                    <br />
                    <div id="idp1">
                        @if (ViewBag.message != null && ViewBag.message != "")
                        {
                            <script type="text/javascript">
                                window.onload = function () {
                                    var txt = "<div class='alert alert-success'  role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + "@ViewBag.Message" + "</div>";
                                    $("#idp1").html("")
                                    $("#idp1").append(txt)

                                    window.setTimeout(function () {
                                        $(".alert").fadeTo(0, 600).slideUp(400, function () {
                                            $(this).remove();
                                        });
                                    }, 3000);
                                };
                            </script>
                        }
                    </div>
                </fieldset><br /><br /><br /><br /><br /><br />
            </div>
        </form>
    </center>