################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bishvilaych/BussinessLayer/bin/Debug
