@{
    ViewBag.Title = "Login";
    
}


<style>
    footer {
    margin-top: 19%;
    padding-bottom: 0px;
    background-color: #810040;
    color: white;
    text-align: center;
}
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: rgba(129, 0, 64, 0.88);
        
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.8;
        }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        margin-top:100px;
    }

    img.avatar {
      
        width: 20%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
        top:20%;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }
  

    /* Change styles for span and cancel button on extra small screens */
</style>
<form action="@Url.Action("Login","Account")" method="post">
    <div class="imgcontainer">
        <img src="~/Images/logo 3d ivrit.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container" dir="rtl" style="margin-right:37%">
        <label for="uname"><b>שם משתמש</b></label><br />
        <input type="text" style="width:40%;" placeholder="הכנס/י שם משתמש" id="uname" name="UserName" required><br />

        <label for="psw"><b>סיסמא</b></label><br />
        <input type="password" style="width:40%;" placeholder="הכנס/י סיסמא" id="psw" name="UserPasswerd" required><br /><br />

        <button type="submit" style="width:30%;margin-right:5%">הכנס/י</button>
        <div style="color:red">@ViewBag.messege</div>
    </div>

</form>


