<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/StyleSheet.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <link href="~/scripts/bootstrapRTL.min.css" rel="stylesheet" />
    <link href="~/scripts/bootstrapRTL-theme.min.css" rel="stylesheet" />
    <script src="~/scripts/bootstrapRTL.min.js"></script>
    <link href="~/scripts/datatables.min.css" rel="stylesheet" />
    <script src="~/scripts/datatables.min.js"></script>
    <link href="~/style/bootstrap-select.min.css" rel="stylesheet" />
    <script src="~/style/bootstrap-select.min.js"></script>
    <link href="~/style/Layout.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <header dir="ltr">
        <a href="@Url.Action("Login","Account")"> <img alt="לוגו" src="~/Images/logo 3d ivrit.jpg" class="logo" /></a>
        <button style="float:right;margin-right:10px;margin-top:10px "class="return" onclick="location.href='@Url.Action("Home","Home")'">חזרה לתפריט ראשי</button>
        <a HR></a>
    </header>
    <div id="wrapper">
        @RenderBody()
    </div>
    <footer>
        Hila & Pninat Systems 
    </footer>
</body>
</html>
