<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/StyleSheet.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <link href="~/scripts/bootstrapRTL.min.css" rel="stylesheet" />
    <link href="~/scripts/bootstrapRTL-theme.min.css" rel="stylesheet" />
    <script src="~/scripts/bootstrapRTL.min.js"></script>
    <link href="~/scripts/datatables.min.css" rel="stylesheet" />
    <script src="~/scripts/datatables.min.js"></script>
</head>

<body>
    <header dir="ltr">
        <img alt="לוגו" src="~/Images/logo 3d ivrit.jpg" class="logo" />
        <hr />
    </header>
    <div id="wrapper">
        @RenderBody()
    </div>
    <footer>
        AF Systems 053-313-2599
    </footer>  
</body>
</html>
