
@{
    ViewBag.Title = "Stiker";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Stiker</h2>
<body>
    <div>
        <input type="datetime" />
        <input type="text" />
        <input type="text" />
    </div>
    <div>
        <input type="datetime" />
        <input type="text" />
        <input type="text" />
    </div>
    <div>
        <input type="datetime" />
        <input type="text" />
        <input type="text" />
    </div>
</body>