
@{
    ViewBag.Title = "Workers";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<ul dir="rtl" style="list-style-type:none">
    <li>
        @Html.ActionLink("הוספת עובדת", "addWorker", "AddWorker")
    </li>
    <br />
    <li>
        <form action="@Url.Action("Workers", "Workers") " method="post">
            <text>תעודת זהות עובדת:</text>  <input type="text" name="idWorkers" id="idWorkers" />
            <input type="submit" value="הכנס" /><label style="color:red;font-size:initial">@ViewBag.error</label>
        </form>
    </li>
    <br />
    <li> @Html.ActionLink("רשימת עובדות", "WorkersList", "FullListWorkers")</li>
</ul>


