@*לאה אמסלם
    21/06/18*@
@{
    ViewBag.Title = "Workers";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div dir="rtl">
    <div>
        <li>
            @Html.ActionLink("הוספת עובדת", "addWorker", "AddWorker")
        </li>
        <br />
        <li>
            <form action="@Url.Action("Workers", "Workers") " method="post">
                <text>תעודת זהות עובדת:</text><input type="text" name="idWorkers" id="idWorkers" />
                <input type="submit" value="הכנס" /><h2>@ViewBag.error </h2>
            </form>
        </li>
        <br />
        <li> @Html.ActionLink("רשימת עובדות", "WorkersList", "FullListWorkers")</li>
    </div>
</div> 
