@model Workers
@{
    ViewBag.Title = "AddWorker";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@using DataAccessLayer;
@using BussinesLayer;
@using BussinessLayer;

<style>
    footer {
        position: absolute !important;
    }
    .myButton {
        background-color: #dcdcdc;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #777777;
        font-family: Arial;
        font-size: 17px;
        font-weight: bold;
        padding: 6px 14px;
        text-decoration: none;
        text-shadow: 0px 0px 0px #ffffff;
    }

        .myButton:hover {
            background-color: transparent;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
</style>

<script>
    @*$(document).ready(function () {
        $("#Text1").on("blur", function () {

            $.ajax({
                type: 'get',
                url: "@Url.Action("checkWorkerID")",
            data: { ID: $("#Text1").val() },
            success: function (data) {
                $("#idp").html("")
            $("#idp").append(data)
        },
        error:function(){}})
    })
    })*@
    $(document).ready(function () {

        function addErrorMessage(data) {
            var txt = "<div class='alert alert-danger'  role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + data + "</div>";
            $("#idp1").html("")
            $("#idp1").append(txt)

            window.setTimeout(function () {
                $(".alert").fadeTo(0, 600).slideUp(400, function () {
                    $(this).remove();
                });
            }, 3000);
        }

        $("#Text1").on("blur", function () {

            $.ajax({
                type: 'get',
                url: "@Url.Action("checkWorkerID")",
                data: { ID: $("#Text1").val() },
                success: function (data) {
                    if (data != "") {
                        addErrorMessage(data);
                    }
                },
                error: function () { }
            })
        })
    })

</script>


<center>
    <form id="form1" method="post" action=@Url.Action("addWorker","AddWorker")>
        <div dir="rtl" class="container, form-horizontal">
            <fieldset style="margin-top:-20px; height:390px; width:500px; box-shadow:150px;">
                <div style="margin-top:90px;margin-left:-70px"">
                    <h1 style="font-family:Arial;font-size:50px;margin-left:62px;color:#810040;">הוספת עובדת</h1>

                    <div style="margin-right:0%; margin-left:55px">
                        <label for="Text1" style="font-size:25px;font-family:Arial">מספר זהות:</label>
                        <input size="22" style="height:32px;" id="Text1" type="text" name="Id" maxlength="9" pattern="[0-9]{9,9}" title="נא הקש ת.ז בעלת 9 ספרות" placeholder="       הכנס/י תעודת זהות    " required />
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    </div>

                    <div style="margin-right:0%; margin-left:80px">
                        <label for="Text2" style="font-size:25px;font-family:Arial">שם פרטי:</label>
                        <input size="22" style="height:32px;"  id="Text2" type="text" maxlength="20" name="FirstName" pattern="[א-ת]{1,20}" title="אותיות בעברית בלבד" placeholder="       הכנס/י שם פרטי    " required />
                    </div>

                    <div style="margin-right:0%; margin-left:50px">
                        <label for="Text3" style="font-size:25px;font-family:Arial">שם משפחה:</label>
                        <input size="22" style="height:32px;"  id="Text3" type="text" name="LastName" maxlength="20" pattern="[א-ת]{1,20}" title="אותיות בעברית בלבד" placeholder="       הכנס/י שם משפחה    " required />
                    </div>

                    <div style="margin-right:0%; margin-left:280px">
                        <br /><input class="btnOkAdd" id="Submit1" type="submit" value="הוסף" />
                    </div>

                </div>
                <br /> <br />
                <div id="idp1">
                    @if (ViewBag.message != null && ViewBag.message != "")
                    {
                        <script type="text/javascript">
                                window.onload = function () {
                                    var txt = "<div class='alert alert-success'  role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + "@ViewBag.Message" + "</div>";
                                    $("#idp1").html("")
                                    $("#idp1").append(txt)

                                    window.setTimeout(function () {
                                        $(".alert").fadeTo(0, 600).slideUp(400, function () {
                                            $(this).remove();
                                        });
                                    }, 3000);
                                };
                        </script>
                    }
                </div>
            </fieldset><br /><br /><br /><br /><br /> <br />
        </div>
    </form>
</center>
