
@{   
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @*לאה אמסלם*@
   @* 7/6/18*@   
    <table class="table table-hover">
        <thead>
            <tr>
                <td>רחוב</td>
                <td>עיר</td>
                <td>טלפון נוסף</td>
                <td>טלפון</td>
                <td>שם מלא</td>
                <td>תעודת זהות</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>
