
@*Avishag*@

@{
    ViewBag.Title = "UpdateHospitalization";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<h2>UpdateHospitalization</h2>


<body dir="rtl">
    <center>
        <div style="margin-top:300px">
            <h2>ערוך אשפוז</h2>
            <table>

                <tr>
                    <td>שנה:</td>
                    <td><input id="Text1" type="text" /></td>
                </tr>

                <tr>
                    <td>בית חולים:</td>
                    <td>
                        <select id="select1">
                            <option selected="selected">הלל יפה</option>
                            <option>רמב"ם</option>
                            <option>חורב</option>
                            <option>בני ציון</option>
                            <option>אלישע</option>
                            <option>אסותא חיפה</option>
                            <option>פוריה</option>
                            <option>המרכז הרפואי לגליל</option>
                            <option>העמק</option>
                            <option>זיו</option>
                            <option>הרצליה מדיקל סנטר</option>
                            <option>מאיר</option>
                            <option>לניאדו</option>
                            <option>שערי צדק</option>
                            <option>משגב לדך</option>
                            <option>ביקור חולים</option>
                            <option>הדסה עין כרם</option>
                            <option>הדסה הר הצופים</option>
                            <option>מעייני הישועה</option>
                            <option>וולפסון</option>
                            <option>בלינסון</option>
                            <option>שיבא-תל השומר</option>
                            <option>איכילוב</option>
                            <option>אסותא השלום תל-אביב</option>
                            <option>אסף הרופא</option>
                            <option>אסותא ראשל"צ</option>
                            <option>קפלן</option>
                            <option>יוספטל</option>
                            <option>ברזילי</option>
                            <option>סורוקה</option>
                            <option>אסותא באר-שבע</option>

                        </select>
                    </td>
                </tr>

                <tr>
                    <td>מחלקה:</td>
                    <td><input id="Text1" type="text" /></td>
                </tr>

                <tr>
                    <td>סיבת אשפוז:</td>
                    <td><input id="Text1" type="text" /></td>
                </tr>
            </table>

            <div>
                <input id="Submit1" type="submit" value="עדכן" />
            </div>

        </div>

    </center>
</body>